.App {
  text-align: center;
  position: relative;
  background-color: rgb(246, 241, 233);
  height: 91vh;
  padding: 2em;
}
h1 {
  margin-top: 0;
}
.boxes-array {
  border: 2px black solid;
  padding: 5px;
  width: max-content;
  margin: 10px auto;
  display: flex;
  position: relative;
}
.box {
  width: 55px;
  height: 55px;
  margin: 0 5px;
  border-radius: 4px;
}
.box p {
  margin: 0.2em 0;
  color: #ffffff;
}
.container {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  border: 5px green solid;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  background-color: #fffef995;
}

.circle {
  left: -15px;
  top: -15px;
  position: absolute;
  padding: 5px;
  border-radius: 15px;

  background-color: rgb(0, 0, 0);
  border: 10px yellow solid;
  box-shadow: 0.5em 0.5em 1em rgba(255, 242, 130, 0.3);
}

#b1 {
  background-color: rgb(165, 202, 237);
}
#b2 {
  background-color: rgb(150, 188, 226);
}
#b3 {
  background-color: rgb(116, 155, 194);
}
#b4 {
  background-color: rgb(94, 125, 157);
}
#b5 {
  background-color: rgb(53, 98, 128);
}
